.infoContainer {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  border-radius: 6px;
}

.infoClose {
  position: absolute;
  top: -20px;
  right: -10px;
  margin-top: 8px;
  margin-left: 8px;
  z-index: 3;
  cursor: pointer;
}

/* close buttton style for small screens*/
@media only screen and (max-width: 650px) {
  .infoClose {
    width: 8px;
    top: -50px;
    right: 0px;
  }
}

.infoHeader {
  padding: 16px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.headerText {
  font-size: 24px;
}
.subHeader {
  font-size: 12px;
  margin-top: 8px;
}
.value {
  margin-top: 4px;
  font-weight: bold;
}
.cameraItemBottom {
  margin-top: 16px;
}
.cameraDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.dimension {
  margin: 16px;
  padding-bottom: 8px;
}
.title {
  font-size: 12px;
}
